<h3>Envie seu SMS</h3>
​
<hr>
​
<%= form_tag messages_path do %>
  Mensagem: <%= text_area_tag :message %><br><br>
  Número: <%= text_field_tag :number %><br><br>
  <%= submit_tag 'Enviar SMS' %>
<% end %>
​
<hr>
​
<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>